<?xml version='1.0' encoding='UTF-8'?>
<operator xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="FISUDA" name="ngsi-entity-sort" version="0.1.0">

    <details>
        <title>NGSI entity operator</title>
        <homepage>https://github.com/lets-fiware/ngsi-entity-sort-operator</homepage>
        <authors>Kazuhito Suda</authors>
        <email>wirecloud@fisuda.jp</email>
        <image>images/catalogue.png</image>
        <description>This operator allows you to sort NGSI entites by specified attribute.</description>
        <longdescription>DESCRIPTION.md</longdescription>
        <changelog>doc/changelog.md</changelog>
        <doc>doc/userguide.md</doc>
        <license>MIT</license>
        <issuetracker>https://github.com/lets-fiware/sort-entities-operator/issues</issuetracker>
    </details>

    <requirements>
        <!-- Add any extra requirements here -->
        <!-- <feature name="${feature-name}" /> -->
    </requirements>

    <preferences>
        <preference name="prop_name" type="text" label="Attribute" description="Attribute to be key when sorting" default="name" required="true" />
        <preference name="send_nulls" type="boolean" label="Send Nulls" description="Enable this option to propagate null values, leave it disable to filter null events" default="true" />
    </preferences>

    <wiring>
        <inputendpoint name="entityInput" label="In" type="text" description="Received entities will be sorted by specified attribute"  friendcode="entity-list list"/>
        <outputendpoint name="entityOutput" label="Out" type="text"  description="Entities filtered from the received entities"  friendcode="entity-list list"/>
    </wiring>

    <scripts>
        <script src="js/main.js"/>
    </scripts>

</operator>
